/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.opacity{
    position:absolute;
    z-index:1;
    background-color:rgb(10,0,0);
    opacity:0.3;
    width:100%;
    height:100%;
  }